# ============================================
# FRONTEND (Next.js / Node.js)
# ============================================
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (puedes optar por versionar un .env.example)
frontend/.env*
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts


# ============================================
# BACKEND (Django / Python)
# ============================================
# Python
backend/__pycache__/
backend/**/*.py[cod]
backend/*.so
backend/*.egg
backend/*.egg-info/
backend/dist/
backend/build/
backend/.eggs/

# Virtualenv
backend/venv/
backend/ENV/
backend/env/
backend/.venv/

# Django stuff:
backend/*.log
backend/*.pot
backend/*.pyc
backend/*.sqlite3
backend/db.sqlite3
backend/media/
backend/staticfiles/

backend/.env

# IDEs
.vscode/
.idea/

# Migrations (opcional: si no quieres versionarlas, descomenta)
# backend/**/migrations/

